.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 8px;
  margin-bottom: 16px;
  max-width: 180px;
  align-self: center;
}

.label {
  margin-bottom: 10px;
}

.input {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: #f00;
}

.button {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5a4630;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
